.channel-page {
  padding-top: 70px;
  background-color: #eef5ff;
}

element.style {
  background-color: #eef5ff;
}
.top {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.channels-container {
  background-color: #fff; /* White background for the channels list */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  padding: 20px;
  margin-bottom: 20px; /* Space between the channels list and the create channel section */
}

.channels-container h1 {
  color: #333;
  margin-bottom: 20px;
}

.channels-container ul {
  list-style: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
}

.channels-container li {
  background-color: #f9f9f9; /* Light background for each list item */
  border: 1px solid #ddd; /* Border to separate items */
  padding: 10px;
  margin-bottom: 10px; /* Space between list items */
  border-radius: 4px; /* Rounded corners for each list item */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channels-container button {
  padding: 5px 10px;
  background-color: #0056b3; /* Blue background for buttons */
  color: #fff; /* White text on buttons */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.channels-container button:hover {
  background-color: #004494; /* Darker blue on hover */
}

.create-channel {
  display: flex; /* Use flexbox to align children */
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  background-color: #fff; 
  padding: 10px 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); 
  z-index: 10; 
}

/* New container for the input field and button */
.create-channel-form {
  display: flex; 
  justify-content: space-between; /* This will separate the input and the button */
  align-items: center;
  width: 100%; /* Ensure the container spans the full width */
  max-width: 500px; /* Set a max-width for larger screens */
}

.create-channel input {
  padding: 10px;
  margin-right: 10px; /* Space between input field and button */
  border: 1px solid #ddd;
  border-radius: 4px;
  flex: 1; /* Allows input to expand to fill space */
}

.create-channel button {
  padding: 10px 20px;
  background-color: #28a745; /* Green background for create button */
  color: #fff; /* White text for create button */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}